@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #18181b;
  /* zinc-950 */
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}